*{margin:0;padding:0}
body {font-family:"ו",Arial,Verdana,Helvetica, sans-serif;font-size:12px;line-height:160%;color:#020202;background-color:#ffffff;}
ul {margin:0;padding:0;list-style:none;}
input,textarea {font-family:"ו", Arial, Verdana, Helvetica, sans-serif;font-size:12px;line-height:normal;}

#trColor tr{background:#FFFFFF;font-size:12px;line-height:130%;height:20px;}
#trColor th{background-color:#D6DFF7}

.Admin_Table{border-bottom:1px solid #3770A9;border-right:1px solid #3770A9;width:98%;margin-top:5px}
.Admin_Table td,th{border-top:1px solid #3770A9;border-left:1px solid #3770A9;padding-left:5px}
.Admin_Title{color:#FF0000;text-align:center;font-size:14px;font-weight:bolder;letter-spacing:14px;height:22px;}

